
<div class= 'text-center'>

<h2> <%= @restaurant.name %> </h2>

<p> <%= @restaurant.address %></p>

<span>
  <%= link_to "Back to homepage", restaurants_path, class: "btn btn-primary"%>
</span>
</div>
